.main-div{
    background-color: #9d4edd;
}

.main-div {
    width: 100%;
    height: 80vh;
}

.main-heading--div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-heading {
    font-size: 2.5rem;
    font-family: 'Cutive', serif;
    font-weight: bold;
}

img {
    border-radius: 15px;
    margin-right: 25px;
}

.main-content--div {
    text-align: center;
    padding-bottom: 5em;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-content--div {
    font-family: 'Cutive', serif;
    padding-bottom: 5em;
    width: 450px;
    height: 280px;
    margin-left: 20px;
}

.heading-secondary-home {
    margin-top: -3px;
}

.login-button--sm {
    /* width: 150px;
    height: 40px;
    border: none;
    outline: none;
    background: grey;
    border-radius: 15px;
    font-size: 18px;
    color: #eee;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 50px; */
    display: inline-block;
    /* padding-top: 5em;
    padding-left: 5em; */
    margin-left: 5em;
    background: none;
    margin: 0 auto;
    text-align: center;
    color: black;
    border: 2px solid;
    padding: 1em 2em;
    cursor: pointer;
    font-size: 1em;
    transition: color 0.25s,boder-color 0.25s,box-shadow 0.25s,transform 0.25s;
}
.login-button--sm:hover {
    /* border-color: #2691d9;
    transition: 0.1s; */
    display: inline-block;
    border-color: #f1ff5c;
    color: var(--btnHoverColor);
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}

.wnd{
    margin-left: 10px;
}

.headerDivider {
    border-left: 2px solid #333;
    height: 280px;
    margin: 10px 10px;
}

.main-features--div {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .main-div {
        display: flex;
        flex-direction: column;
    }

    .main-heading--div {
        height: 20%;
        margin-bottom: 60px;
    }

    .main-content-content--div {
        margin-top: 30px;
    }

    .main-content--div {
        display: flex;
        flex-direction: column;
    }

    img {
        height: 250px;
        width: 420px;
    }

    .headerDivider {
        display: none;
    }
}

@media (max-width: 600px) {

    .main-heading--div {
        margin-bottom: 50px;
    }

    img {
        height: 250px;
        width: 380px;
    }

    .main-content-content--div {
        margin-top: 20px;
        width: 420px;
    }

    .headerDivider {
        display: none;
    }
}

@media (max-width: 400px) {

    .main-heading--div {
        margin-bottom: 50px;
    }

    img {
        height: 200px;
        width: 300px;
    }

    .main-content-content--div {
        margin-top: 20px;
        width: 340px;
    }

    .headerDivider {
        display: none;
    }
}