.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

/* .login-form{
    background-color: #9d4edd;
} */

.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .text-field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.text-field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    background: black;
}

.login-button {
    /* width: 100%;
    height: 50px;
    border: 1px solid;
    outline: none;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #eee;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 50px; */
    padding-top: 5em;
    background: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: black;
    border: 2px solid;
    padding: 1em 2em;
    margin-bottom: 4em;
    cursor: pointer;
    font-size: 1em;
    transition: color 0.25s,boder-color 0.25s,box-shadow 0.25s,transform 0.25s;
}

.login-button:hover {
    /* border-color: #2691d9;
    transition: 0.1s; */
    display: flex;
    border-color: #ffa500;
    color: var(--btnHoverColor);
    box-shadow: 0 0.5em 0.5em -0.4em #ffa500;
    transform: translateY(-0.25em);
    cursor: pointer;
}

.pass-text:hover {
    cursor: pointer;
    color: #2691d9;
}

.error-box {
    background: #f4dede;
    width: 80%;
    height: 60px;
    margin: auto;
    color: #820918;
    border-radius: 5px;
    border: 1px solid #eee;
}

.error-text {
    margin-left: 5%;
    text-transform: capitalize;
}